@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    background: black url(../imagens/fundo-madeira.jpg) top center no-repeat fixed;
    background-size: cover;
}

html, body {
    height: 90vh;
    width: 100vw;
}

main {
    height: 100vh;
    position: relative;
}

iframe#tela {
    position: relative;
    top: 83px;
    left: 25px;
    max-width: 262px;
    min-height: 465px;
    border-radius: 2px;
}

section#telefone {
    height: 627px;
    width: 311px;
    background: url(../imagens/frame-iphone.png) center top no-repeat fixed;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section#sideBar img {
    width: 50px;
    border-radius: 50%;
    margin: 10px;
    box-shadow: 1px 1px 2px 0px #00000082;
    box-sizing: border-box;
}

section#sideBar img:hover {
    border: 2px solid white;
    transform: translate(5px, -5px);
    box-shadow: 2px 2px 2px 0px #000000c2;
    transition: transform .3s;
}