@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    background: black url(../imagens/fundo-madeira.jpg) top center no-repeat fixed;
    background-size: cover;
}

html, body {
    height: 90vh;
    width: 100vw;
}

main {
    height: 100vh;
    position: relative;
}

iframe#tela_home {
    position: relative;
    top: 82px;
    left: 23px;
    max-width: 266px;
    min-height: 468px;
    
}

section#telefone {
    height: 627px;
    width: 311px;
    background: url(../imagens/frame-iphone.png) center top no-repeat fixed;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}